<!--The content below is only a placeholder and can be replaced.-->
<!--<mat-toolbar color="primary">
  <mat-toolbar-row>
     <span>HOME</span>
     <span><a href="/">HOME</a></span>
     <span class="spacer"></span>
     <a mat-button routerLink="/register">Register</a>
     <a mat-button routerLink="/login">Login</a>
  </mat-toolbar-row>
</mat-toolbar> -->


<div class="app-{{appId}}-theme" id="appRootClass">
    <!-- tool bar - start -->
    <mat-toolbar color="warn">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>Menu</mat-icon>
        </button>
  
        <span class="example-spacer"></span>
        <div>
          <button mat-button [matMenuTriggerFor]="menu">
           <!-- TO DO: ADD THIS ICON -->
            Select Theme
          </button>
          <mat-menu #menu="matMenu">
            <button value='Dark' mat-menu-item (click)="switchTheme('Dark')">Dark</button>
            <button value='Blue' mat-menu-item (click)="switchTheme('Blue')">Blue</button>
          </mat-menu>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <!-- tool bar - end -->
  
      <!--side nav - start-->
      <mat-sidenav #sidenav>
        <mat-nav-list>
          <div>
              <button mat-button [matMenuTriggerFor]="menu">Select Theme</button>
            <mat-menu #menu="matMenu">
              <button value="Dark" mat-menu-item (click)="switchTheme('Dark')">Dark</button>
              <button value="Blue" mat-menu-item (click)="switchTheme('Blue')">Blue</button>
            </mat-menu>
          </div>
          <!-- TO DO: ADD THIS ICON <mat-icon>close</mat-icon>-->
          <a (click)="sidenav.toggle()" mat-list-item>Close</a>
        </mat-nav-list>
      </mat-sidenav>
  </div>
      