:host {
    ::ng-deep {
        .mat-card-header-text {
            margin: 0px;
        }

        .form-field .mat-form-field {
            margin-right: 20px;
        }

        @media only screen and (min-width: 959px) {
            .mh-123 {
                min-height: 123px;
            }

            .mh-250 {
                min-height: 250px;
            }
          }
    }
}