<div class="dashboard padding" fxLayout="column" [fxLayoutGap]="gap">
  <div fxFlex="noshrink" fxLayout="column" [fxLayoutGap]="gap" fxLayout.gt-lg="row">
    <div fxLayout="column" [fxLayoutGap]="gap" [fxFlex]="col(2)" fxLayout.gt-sm="row">
      <div fxFlex="auto" [fxFlex.gt-sm]="col(4)">
        <app-news></app-news>
      </div>
      <div fxFlex="auto" [fxFlex.gt-sm]="col(4)">
          <app-weather></app-weather>
          <client-device-status-chart></client-device-status-chart>
      </div>
    </div>
  </div>
</div>

