<div class="app-Blue-theme">
  <mat-toolbar color="warn">
    <span>Angular App
      <button mat-button>Login</button>
      <button mat-button>Register</button>
    </span>
    <span class="example-fill-remaining-space"></span>
    <span>
      <button mat-icon-button [matMenuTriggerFor]="themesMenu">
        <mat-icon>format_color_fill</mat-icon>
      </button>
      <mat-menu #themesMenu="matMenu">
      </mat-menu>
    </span>
    <div fxLayout="row" fxLayoutGap="20px">


    </div>
  </mat-toolbar>
</div>