<div class="app-Blue-theme">
  <mat-toolbar>
    <span class="title-center">Registration</span>
  </mat-toolbar>
  <div class="main-div">
    <mat-card class="z-depth center" flex="50">
      <mat-card-content>
        <form class="register-form">
          <mat-form-field class="full-width">
            <mat-label> First Name </mat-label>
            <input [(ngModel)]="credentials.first_name" matInput placeholder="First Name" name="first_name" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label> Last Name </mat-label>
            <input [(ngModel)]="credentials.last_name" matInput placeholder="Last Name" name="last_name" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label> Username </mat-label>
            <input [(ngModel)]="credentials.username" matInput placeholder="Username" name="username" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label> E-mail </mat-label>
            <input [(ngModel)]="credentials.email" matInput placeholder="E-mail" name="email" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label> Password </mat-label>
            <input [(ngModel)]="credentials.password" matInput placeholder="Password" type="password" name="password" required>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="register()" mat-raised-button  color="primary">REGISTER</button>
      </mat-card-actions>
    </mat-card>
  </div>
  
</div>