<div class="chat" fxLayout="column" fxLayoutAlign="start center">
  <div class="header elevation"></div>
  <mat-drawer-container class="chat-drawer-container elevation route-animations-elements" fxFlex="auto">
    <mat-drawer-content class="chat-drawer-content" fxLayout="column">
      <div class="toolbar app-bar border-bottom" fxLayout="row" fxFlex="none" fxLayoutAlign="space-between center">
        <div class="current-contact" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
          <img class="avatar" src="assets/img/avatars/bot.png">
          <div fxLayout="column">
            <span class="name">Angular Bot</span>
            <span class="status secondary-text">Online</span>
          </div>
        </div>
      </div>
      <div class="messages-container background" clientScrollbar fxFlex #messagesScroll>
        <div class="messages">
          <div class="chat-message" *ngFor="let message of messages | async" [ngSwitch]="message.sentBy" fxLayout="column"
            fxLayoutAlign="end start">
            <div class="partner"*ngSwitchCase="'bot'" fxFlexAlign="start" fxLayout="row" fxLayoutAlign="start start">
              <img class="avatar" src="assets/img/avatars/bot.png">
              <span class="message card">{{ message.content }}</span>
            </div>
            <div class="me" *ngSwitchCase="'user'" fxFlexAlign="end" fxLayout="row" fxLayoutAlign="end start">
              <span class="message background-primary color-primary-contrast">{{ message.content }}</span>
              <img class="avatar" src="assets/img/avatars/noavatar.png">
            </div>
          </div>
        </div>
      </div>

      <div class="reply client-form-field client-form-field-remove-hint-bar"
           fxFlex="none"
           fxLayout="row"
           fxLayoutAlign="start center"
           fxLayoutGap="24px">
        <mat-form-field class="reply-field" appearance="fill" fxFlex>
          <mat-label>Write your message</mat-label>
          <input matInput (keyup.enter)="sendMessage()" [formControl]="replyCtrl">
          <button (click)="sendMessage()" matSuffix mat-icon-button color="primary" [disabled]="!replyCtrl.value">
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="compose" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="center center">
        <button (click)="openCompose()" color="primary" fxFlex fxHide fxShow.gt-sm mat-raised-button type="button">
          <mat-icon class="icon">edit</mat-icon>
          Our bot didn't helped you? Write an e-mail to our team by clicking here!
        </button>
        <button color="primary" fxHide.gt-sm mat-mini-fab type="button">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
